@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');


*, *::after, *::before {
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    font-size: 1.5rem;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
  }

  main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 90%;
    max-width: 920px;
    height: 500px;
  }

  h2 {
      font-family: 'Big Shoulders Display', sans-serif;
      text-transform: uppercase;
      font-size: 4rem;
      color: #fff;
  }

  p {
      line-height: 1.6;
  }

  h2,
  .category img {
      margin-bottom: 4rem;
  }

  .category {
      display: flex;
      flex-direction: column;
      padding: 4.7rem 5.2rem 4.7rem 4.8rem;
      height: 500px;
  }

  .category:first-child {
      border-radius: 8px 0 0 8px;
  }

  .category:last-child {
    border-radius: 0 8px 8px 0;
}

.category a {
    margin-top: auto;
    text-decoration: none;
    background-color: #fff;
    width: fit-content;
    padding: 1.7rem 3rem;
    border-radius: 100px;
}

.category a:hover,
.category a:active {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #fff;
    color: currentColor;
    cursor: pointer;
}

.category img {
width: 64px;
}

.sedan {
    background-color: hsl(31, 77%, 52%);
}

.sedan a {
    color: hsl(31, 77%, 52%);;
}

.suv {
    background-color: hsl(184, 100%, 22%);
}

.suv a {
    color:hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
}

.luxury a {
    color: hsl(179, 100%, 13%);
}

/* media queries */

  @media screen and (max-width: 600px) {

    main {
        height: 100%;
        flex-direction: column;
        position: inherit;
        transform: unset;
        margin: 100px auto;
        max-width: 375px;
    }

    .category {
        height: auto;
    }

    .category p {
        margin-bottom: 2.3rem;
    }

    .category:first-child {
        border-radius: 8px 8px 0 0;
    }
  
    .category:last-child {
      border-radius: 0 0 8px 8px;
  }

}

@media screen and (min-width: 601px) and (max-width: 850px) {

    main {
        height: 100%;
        margin: 100px auto;
        flex-direction: column;
    }

    .category {
        height: auto;
        min-height: 300px;
        padding: 4.7rem 5.2rem 4rem 4.8rem;
    }

    .cateory img {
        float: left;
        position: relative;
    }

    h2 {
        display: inline-block;
        position: absolute;
        margin-left: 8rem;
    }

    .category:first-child {
        border-radius: 8px 8px 0 0;
    }
  
    .category:last-child {
      border-radius: 0 0 8px 8px;
  }

}